/* Menu Principal */
.dropdownmenu {
    background-color: #1b1b32;
    display:flex;
}

/* Sous Menu */
.dropdownmenu ul {
    display: none;
    z-index: 1000;
}

.dropdownmenu, 
.dropdownmenu ul {  
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    top:0;
}

.dropdownmenu a {
    display: block;
    width: 100px;
    height: 35px;
    line-height: 35px;
    color: #fff;
    background-color: #3b3b4f;
    text-decoration: none;
    padding:3px 150px;
    text-align: center;
}

.dropdownmenu li{
   position: relative;
}

.dropdownmenu li:hover ul {
    display: block;
    position: absolute;
    top : 41px;
    left: 0px;
    z-index: 100;
}

.dropdownmenu a:hover {
    background-color: #3b6969;
}

.overlay{
    margin-left:auto;
}